<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/dashboard.css" />

<body>
  <div>Dashboard</div>

  <script type="text/javascript" src="/js/dashboard.js"></script>
</body>

<%- include('includes/footer') %>
