<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/settings.css" />

<body>
  <div>Settings</div>

  <script type="text/javascript" src="/js/settings.js"></script>
</body>

<%- include('includes/footer') %>
