<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/tableCalls.css" />

<body>
  <div>TableCalls</div>

  <script type="text/javascript" src="/js/tableCalls.js"></script>
</body>

<%- include('includes/footer') %>
