<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/tables.css" />

<body>
  <div>Tables</div>

  <script type="text/javascript" src="/js/tables.js"></script>
</body>

<%- include('includes/footer') %>
